In [4]:
import pickle
m = pickle.load(open('dataset.pkl', 'rb'))
m

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [5]:
import pandas as pd
from yaml import safe_load
import numpy as np
import os
from tqdm import tqdm

In [6]:
balls_innings1 = pd.DataFrame()
#dataframe for team in first innings, we will make one for second innings too
ctr = 1
dfs = []
for index, row in m.iterrows():
    if ctr in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        ctr +=1
        continue
    ctr+=1
    ball_no = []
    batsman = []
    bowler = []
    runs = []
    player_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    wickets = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(ctr)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_no.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_dismissed.append('0')
            try: 
                if (ball[key]['wicket']):
                    wickets.append(0)
            except:
                wickets.append(0)
    
    iterdf = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_no,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_dismissed,
            'city':city,
            'venue':venue,
            'wicket': wickets
        })
    dfs.append(iterdf)
    balls_innings1 = pd.concat(dfs, ignore_index=True)

In [7]:
balls_innings1['wicket'] = 1

In [8]:
balls_innings1['wicket'].value_counts()

wicket
1    115325
Name: count, dtype: int64

In [10]:
for index, row in balls_innings1.iterrows():
    # Check if the value in player_dismissed is '0'
    if row['player_dismissed'] == '0':
        balls_innings1.at[index, 'wicket'] = 0

In [11]:
balls_innings1['wicket'].value_counts()

wicket
0    109024
1      6301
Name: count, dtype: int64

In [12]:
#wickets data is ready
pickle.dump(balls_innings1, open('b1.pkl', 'wb'))

In [13]:
b1 = pickle.load(open('b1.pkl', 'rb'))
b1

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,wicket
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,0
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,0
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0
115321,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,0
115322,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,1
115323,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,0
115324,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0

In [14]:
#data saved ez dubs

In [22]:
def bowlteam(row):
    for team in row['teams']:
        if team!=row['batting_team']:
            return team
b1['bowling_team'] = b1.apply(bowlteam, axis = 1)

In [23]:
b1

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,wicket,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0,Australia
115321,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,0,Australia
115322,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,1,Australia
115323,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,0,Australia
115324,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0,Australia

In [25]:
b1.drop(columns = ['teams'], inplace = True)

In [29]:
b1['batting_team'].value_counts()

batting_team
Pakistan                    10100
South Africa                 8434
India                        8257
New Zealand                  8232
Sri Lanka                    7937
West Indies                  7243
Australia                    6861
England                      6845
Afghanistan                  5206
Bangladesh                   4881
Ireland                      4539
Zimbabwe                     4361
Netherlands                  4011
United Arab Emirates         3069
Hong Kong                    2220
Scotland                     2214
Kenya                        1819
Oman                         1743
Malaysia                     1618
Nepal                        1588
Singapore                    1360
Papua New Guinea             1239
Canada                       1231
Namibia                       989
Jersey                        983
Thailand                      751
Nigeria                       739
Bermuda                       703
Cayman Islands                619
Vanuatu                       578
Denmark                       471
Gibraltar                     382
Germany                       374
Belgium                       371
Maldives                      367
Kuwait                        366
United States of America      345
Guernsey                      248
Ghana                         245
Bulgaria                      222
Norway                        220
Botswana                      198
Spain                         134
Qatar                         132
Iran                          131
Isle of Man                   125
Bhutan                        125
Uganda                        124
Portugal                      124
Italy                         119
Romania                       101
Philippines                    31
Name: count, dtype: int64

In [28]:
teams = {
    'Pakistan',
    'South Africa',
    'India',
    'New Zealand',
    'Sri Lanka',
    'West Indies',
    'Australia',
    'England',
    'Afghanistan',
    'Bangladesh',
    'Ireland',
    'Zimbabwe',
    'Netherlands',
    'United Arab Emirates',
    'Scotland',
    'Oman',
    'Nepal',
    'Papua New Guinea',
    'Canada',
    'Namibia',
    'United States of America',
    'Uganda'
    
    
}
len(teams)

22

In [30]:
b1=b1[b1['batting_team'].isin(teams)]
b1=b1[b1['bowling_team'].isin(teams)]

In [31]:
b1

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,wicket,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0,Australia
115321,964,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,0,Australia
115322,964,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,1,Australia
115323,964,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,0,Australia
115324,964,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,0,Australia

In [32]:
finalb1 = b1[['match_id', 'batting_team', 'bowling_team', 'ball', 'runs', 'player_dismissed', 'wicket', 'city', 'venue']]

In [33]:
finalb1

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,wicket,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,0,Colombo,R Premadasa Stadium
115321,964,Sri Lanka,Australia,19.4,0,0,0,Colombo,R Premadasa Stadium
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,1,Colombo,R Premadasa Stadium
115323,964,Sri Lanka,Australia,19.6,2,0,0,Colombo,R Premadasa Stadium
115324,964,Sri Lanka,Australia,19.7,1,0,0,Colombo,R Premadasa Stadium

In [35]:
pickle.dump(finalb1, open('finalb1.pkl', 'wb'))