In [3]:
import pandas as pd
from yaml import safe_load
import numpy as np
import os
from tqdm import tqdm

In [4]:
files = []
for file in os.listdir('data'):
    files.append(os.path.join('data', file))

In [5]:
print (files[0:5])

['data\\1001349.yaml', 'data\\1001351.yaml', 'data\\1001353.yaml', 'data\\1004729.yaml', 'data\\1007655.yaml']

In [ ]:
#appended to list
#now make df by opening files
# List to collect DataFrames
df_list = []

for file in tqdm(files):
    with open(file, 'r') as f:
        dftemp = pd.json_normalize(safe_load(f))
        dftemp['match_id'] = ctr
        df_list.append(dftemp)
        ctr += 1

# Concatenate all DataFrames in the list
df = pd.concat(df_list, ignore_index=True)

In [ ]:
df.head()

In [ ]:
df = df[df['info.gender']=='male']
df.drop(columns=['info.gender'], inplace = True)
df

In [ ]:
df.drop(columns={
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.supersubs.New Zealand',
    'info.supersubs.South Africa',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.outcome.by.wickets',
    'info.outcome.by.runs',
    'info.match_type_number',
    'info.neutral_venue',
    'info.outcome.method',
    'info.outcome.result',
    'info.outcome.eliminator'
    
}, inplace = True)

In [ ]:
df['info.match_type'].value_counts()

In [ ]:
df['info.overs'].value_counts()

In [ ]:
df.drop(columns = 'info.match_type')

In [ ]:
df = df[df['info.overs']==20]

In [ ]:
df

In [ ]:
df.drop(columns = 'info.overs')

In [ ]:
import pickle

In [ ]:
pickle.dump(df, open('dataset.pkl', 'wb'))

In [ ]:
m = pickle.load(open('dataset.pkl', 'rb'))
m

In [ ]:
#file saved

In [9]:
#This is the data we need

In [ ]:
balls_innings1 = pd.DataFrame()
#dataframe for team in first innings, we will make one for second innings too
ctr = 1
dfs = []
for index, row in m.iterrows():
    if ctr in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        ctr +=1
        continue
    ctr+=1
    ball_no = []
    batsman = []
    bowler = []
    runs = []
    player_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    wickets = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(ctr)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_no.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_dismissed.append('0')
            try: 
                if (ball[key]['wicket']):
                    wickets.append(0)
            except:
                wickets.append(0)
    
    iterdf = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_no,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_dismissed,
            'city':city,
            'venue':venue,
            'wicket': wickets
        })
    dfs.append(iterdf)
    balls_innings1 = pd.concat(dfs, ignore_index=True)

In [12]:
balls_innings1

Empty DataFrame
Columns: []
Index: []